html, body{
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f3f3f4;
    color: #676a6c;
    height: 100%;
}

body{
    overflow:hidden;
}

#content{
    height: 480px;
    overflow-y: scroll;
}

.image{
	float: left;
    margin-left: 1em;
    margin-top: 5px;
}

.navbar-default{
	background-color: #fff;
	border-bottom: 1px solid #e7eaec;
}

.menu_option{
	margin: 0px;
	padding: 0px;
	list-style: none;
	color: #676a6c;
}

.menu_option li{
	float: left;
	margin-left: 15px;
	padding-top: 17px;
}

.menu_option a{
	text-decoration: none;

}
.menu_option .fa{
	color: #676a6c;
}

.menu_option .label{
	position: absolute;
	margin-top: -10px;
	margin-left: -5px;
}

.menu_option .fixed-with{
	width: 35px;
}

/**/
#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	overflow: hidden;
}

#wrapper.toggled {
    padding-left: 180px;
    overflow: scroll;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute; 
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color: #2f4050;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 180px;
}
 
#page-content-wrapper {
    position: absolute;
    /*padding: 15px;*/
    width: 100%;  
    overflow-x: hidden; 
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */
 
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 190px;
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}
 
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #9fb1c2;
    font-weight: bold;
	font-size: 13px;
}
 
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
	background-color: #293846;
    /*border-left: red 2px solid;*/
}
 
.sidebar-nav li.active a{
	color: #fff;
	background-color: #293846;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	color: #fff;
	background-color: #293846;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
 
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
 
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}

.sidebar-nav .collapseable li{
    /*padding: 5px 5px 10px 20px;*/
    margin-left: -40px;
    /*padding-left: 20px;
    padding-top: 5px;*/
}

.sidebar-nav .collapseable a{
    color: #9fb1c2;
    font-size: 12px;
    padding: 0 10px;
    text-decoration: none;
    display: block;
}

.sidebar-nav .collapseable a:hover{
    color: #fff;
}

.sidebar-nav .collapseable{
    border-left: 4px solid #1ab394;
    background-color: #293846;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 190px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
 	
    #sidebar-wrapper {
        width: 190px;
    }
 
    #wrapper.toggled #sidebar-wrapper {
        width: 180px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 180px;
    }
 
 
    #page-content-wrapper {
        /*padding: 20px;*/
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
 
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 180px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -150px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
 
    }
}

/*
	SUBHEADER_CONTENT
*/

.sub_header{
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}
.inline-block
{
    display:inline-block;
}
/* 
	TABS
*/
.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

/* Footer*/
#footerAd{
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: #fff;
    padding: 10px;
    font-size: 12px;
    color: #676a6c;
}

.contentF{
    position: relative;
    margin-top: 30px;
}

/**/
/**/

@media (min-width: 992px){
    .modal-lg {
        width: 95%;
    }

    .modal-lg > .modal-body{
        height: 500px;
    }
}

/**/
.table_evaluated{
    font-size: 12px;
}

.inputs .form-control
{
    width: 30px;
    margin: 0px auto;
    padding: 0;
    padding-left: 2px;
    text-align: center;
    font-size:11px;
}

.inputs .form-control input
{
    padding: 0px;
}

input.input-sin-borde
{

    border-width:0px !important;
    outline:none !important;
    border:none !important;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none !important;
    background: transparent !important;
}

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;
}

input[type=number] {

    -moz-appearance:textfield;

}

/**/
body.error{
    color: #73879C;
    background: #2A3F54;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}

.middle_row{
    margin-top: 5%;
}

.error-number{
    font-size: 90px;
    line-height: 90px;
    margin: 20px 0;
}